{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Biblioteca Web App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
 <!-- <link rel="stylesheet" href=""> // aqui puedo conectar mi hoja de estilo -->
{% endblock %}

{% block body %}
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <div class="container-md">
        <img src="../static/assets/inicio_portada_libros.jpg" alt="Portada-libro-niña" style="width: 400px; height: auto;">
    </div>
    {% endblock %}

{% endblock %}